<launch>
	<arg name="sequence_1" default = "/home/tony-ws1/bag/iser2018/swarm_bag/1.bag" />
	<arg name="sequence_2" default = "/home/tony-ws1/bag/iser2018/swarm_bag/2.bag" />
	<arg name="sequence_3" default = "/home/tony-ws1/bag/iser2018/swarm_bag/3.bag" />
	<arg name="sequence_4" default = "/home/tony-ws1/bag/iser2018/swarm_bag/4.bag" />
	
<group ns="vins_1">
	<param name="config_file" type="string" value="$(find feature_tracker)/../config/A3/A3_config_local.yaml" />
	<param name="vins_folder" type="string" value="$(find feature_tracker)/../config/../" />
	<param name="agent_num" type="int" value="1" />
	<node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log"/>
	<node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="log"/>
	<node pkg="rosbag" type="play" name="player" output="log" args=" $(arg sequence_1) /dji_sdk_1/dji_sdk/imu:=dji_sdk_1/dji_sdk/imu /hcfox_1/image:=hcfox_1/image -s 10 -r 0.5" />
</group>
<group ns="vins_2">
	<param name="config_file" type="string" value="$(find feature_tracker)/../config/A3/A3_config_local.yaml" />
	<param name="vins_folder" type="string" value="$(find feature_tracker)/../config/../" />
	<param name="agent_num" type="int" value="2" />
	<node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log"/>
	<node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="log"/>
	<node pkg="rosbag" type="play" name="player" output="log" args="$(arg sequence_2) /dji_sdk_1/dji_sdk/imu:=dji_sdk_1/dji_sdk/imu /hcfox_1/image:=hcfox_1/image -s 8 -r 0.5" />
</group>
<group ns="vins_3">
	<param name="config_file" type="string" value="$(find feature_tracker)/../config/A3/A3_config_local.yaml" />
	<param name="vins_folder" type="string" value="$(find feature_tracker)/../config/../" />
	<param name="agent_num" type="int" value="3" />
	<node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log"/>
	<node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="log"/>
	<node pkg="rosbag" type="play" name="player" output="log" args="$(arg sequence_3) /dji_sdk_1/dji_sdk/imu:=dji_sdk_1/dji_sdk/imu /hcfox_1/image:=hcfox_1/image -s 5 -r 0.5" />
</group>
<group ns="vins_4">
	<param name="config_file" type="string" value="$(find feature_tracker)/../config/A3/A3_config_local.yaml" />
	<param name="vins_folder" type="string" value="$(find feature_tracker)/../config/../" />
	<param name="agent_num" type="int" value="4" />
	<node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log"/>
	<node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="log"/>
	<node pkg="rosbag" type="play" name="player" output="log" args="$(arg sequence_4) /dji_sdk_1/dji_sdk/imu:=dji_sdk_1/dji_sdk/imu /hcfox_1/image:=hcfox_1/image -s 4 -r 0.5" />
</group>


    <node name="pose_graph" pkg="pose_graph" type="pose_graph" output="screen">
        <param name="visualization_shift_x" type="int" value="0" />
        <param name="visualization_shift_y" type="int" value="0" />
        <param name="skip_cnt" type="int" value="0" />
        <param name="skip_dis" type="double" value="0" />
        <param name="pose_graph_save_path" type="string" value="/home/ri/raw_data/pose_graph/" />
        <param name="pose_graph_result_path" type="string" value="/home/tony-ws1/output/" />
    </node>

    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find vins_estimator)/../config/multi_agent_rviz.rviz" />
    
</launch>
